$black: #212121;
$grey: #9e9e9e;
$grey-rule: #e0e0e0;

.header {
  @include breakpoint($two-col) {
    padding: 2.25rem 0;
  }

  @include group;
  display: block;
  padding: 2.25rem 0 calc(1.5rem + 1px) 0;

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    list-style: none;
  }

  & a {
    text-decoration: none;
    color: $black;

    &.wordmark {
      color: $black
    }
  }

  & span {
    color: $grey;
  }

  & .nav__branding {
    @include breakpoint($two-col) {
      float: left;
      text-align: left;
      padding-bottom: 0;
      border-bottom: none;
    }

    text-align: center;
    padding-bottom: 2.25rem;
    border-bottom: 1px solid $grey-rule;

    & li {
      @include breakpoint($two-col) {
        float: left;
        margin: 0 1rem 0 0;
        padding-bottom: 0;
      }
      @include breakpoint($three-col) {
        margin: 0 2rem 0 0;
      }

      margin: 0;
      padding-bottom: .75rem;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  & .nav__items {
    @include breakpoint($two-col) {
      float: right;
      clear: none;
      margin-top: 0;
    }

    clear: both;
    text-align: center;
    margin-top: 1.5rem;

    & li {
      @include breakpoint($two-col) {
        margin-right: 0;
        margin: 0 0 0 1rem;
      }
      @include breakpoint($three-col) {
        margin: 0 0 0 2rem;
      }

      display: inline-block;
      margin: 0 .5rem;
    }
  }
}
